.notification {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  margin: 0 auto;
  max-width: 620px;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 0.25rem;
  background: var(--gray);
  color: var(--brand-extra-dark);
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding: 3.125rem 3.125rem 2.5rem;
}

.headerLink {
  line-height: 1rem;
}

.mainSection {
  display: grid;
  width: 100%;
}

.closeIcon {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  color: var(--black);
  position: absolute;
  top: 8px;
  right: 8px;
}

@media screen and (max-width: 1000px) {
  .notification {
    margin: 0 auto 1rem;
  }

  .header {
    padding: 0;
    margin-bottom: 2.375rem;
  }

  .mainSection {
    display: block;
  }
}

.logoLink {
  display: inline-flex; /* Aligns icon nicely */
  align-items: center;
  flex-shrink: 0; /* Prevent logo from shrinking */
}

/*
.headerControls {
  display: flex;
  align-items: center;
  gap: 1rem; 
  position: relative; 
}

.headerControls > * {
  flex-shrink: 0; 
}
*/

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allows this section to take up space */
  margin: 0 5rem; /* Optional: if more space is needed around the nav */
}

.walletSection {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Prevent wallet button from shrinking */
}
